body{
    display:flex;
    justify-content:center;
    
}
.container{
    display:flex;
    width:500px;
    height:500px;
    border:2px solid black;
    flex-direction:row;
    /* justify-content:center; */
    /* align-self:center; */
    /* align-content:center; */
    
}
.leftBox > img{
    height:500px;
    width:250px;
}
.signUp  h1{
    margin-left:30px;
    margin-top:25px;
}
.signUp label{
    margin-left:30px;
    font-weight:bold;
}
.signUp input{
    margin-left:30px;
    border:none;
    border-bottom:1px solid black;
}
.button .button{
    margin-top:20px;
    margin-left:30px;
    width:100px;
    height:30px;
    background-color:rgb(161, 130, 239);
    /* border:none; */
    border-radius:30px;
}
.button a{
    margin:15px;
}

.button a{
    text-decoration:none;
}

.homePage .homepage{
    display:inline-block;
    align:center;
    border:1px solid black;
    height:30px;
    text-align:center;
    width:80px;
    color:black;
    padding-top:10px;
    background-color:blue;
    margin-left:30%;  
    margin-top:10px; 
}
.homepage:link{
    text-decoration:none;
}
.homepage:active{
    background-color:red;
}